.button-icon-container{
   display: flex;
}
.button-icon-content {
   width: 101px;
   height: 40px;
   background-color: #1890FF;
   border-radius: 4px;
   border: none;
   outline: none;
   cursor: pointer;
}

.button-icon-content-text{
   font-weight: 400;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
}

.button-icon-content:hover {
   background-color: #1880FF;
}