.search-container {
   margin-top: 55px;
   margin-left: 90px;
   margin-right: 90px;
   display: grid;
   align-items: center;
   justify-content: center;
}

.search-content-area{
   margin-bottom: 55px;
}

.search-content-result{
   margin-bottom: 70px;
}